body{
  font-family: 'GothamBook',Helmet,Freesans,sans-serif;
  background-color:rgb(127, 33, 50);
  /*background-color: rgb(255,255,255)*/
}
.header{
margin:0 auto;
padding:0;
  
}

.container{
  text-align: center;
}

.container a{
  float: none;
  display: inline-block;
  font-size: 2em;
  line-height: 1em;
  letter-spacing: 5px;
  font-family: GibsonBold;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(252, 252, 252);  
  margin: 0 auto;
}
.video{
  text-align: center;
  margin-bottom: 5rem;
}
.vimeo{
  margin:0 auto;
}
.poly-design svg {
  position: relative;
  display:block;
}
.poly-black{
  z-index: 1;
  margin-bottom: -11.2%;
}


