body{
  font-family: 'GothamBook',Helmet,Freesans,sans-serif;
}
.header{
padding:0em;
position:absolute;
top:0em;
left:0em;
width:100%;
height:100%;
background-color:rgb(127, 33, 50);
  
}

.container{
  text-align: center;
}

.container a{
  padding: 0em;
  margin-bottom: 0%;
  float: none;
  display: inline-block;
  font-size: 2.2em;
  line-height: 1em;
  letter-spacing: 5px;
  font-family: GibsonBold;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(252, 252, 252);
  margin-top: 2%;
  padding-left: 0%;
  padding-right: 0%;
  width: 75%;

}

